@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #dfdbe5;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
}

.myForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

#city {
  padding: 10px;
  border-radius: 20px;
}

#renderSearch {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#renderSearch ul {
  list-style: none;
  font-size: 25px;
}
